.input {
  border: none;
  background: rgb(78, 77, 77);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: "Source Sans 3", sans-serif;
  border-bottom: 1px solid #323232;
  width: 100%;
  transition: all 0.4s;
}

.input-title {
  border: none;
  background: rgb(78, 77, 77);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: "Source Sans 3", sans-serif;
  border-bottom: 1px solid #323232;
  width: 100%;
}

.invalid {
  border: 1px solid red;
  background: rgb(68, 6, 6);
}
