.input {
  border: none;
  background: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: "Source Sans 3", sans-serif;
  border-bottom: 1px solid #323232;
  width: 100%;
  transition: all 0.4s;
  color: white;
}

.input-title {
  border: none;
  background: none;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: "Source Sans 3", sans-serif;
  /* border-bottom: 1px solid #323232; */
  width: 100%;
  color: white;
}

.invalid {
  border: 1px solid red;
  background: rgb(68, 6, 6);
}
